<template>
  <b-container fluid="sm">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-4">Group Detail</h4>

        <div  v-for="(form, i) in forms" :key="i">
          <div class="row d-flex align-items-end mb-3">

            <div class="col-lg-4 col-md-5">
              <div class="form-group">
                <label for="product_name">Product</label>
                <v-select name="select1" :options="products" label="label" v-model="form.product">
                </v-select>
                <!--              <input id="product_name" placeholder="Product Name" type="text" class="form-control" v-model="form.product_name">-->
              </div>
            </div>

            <div class="col-lg-2 col-md-4">
              <div class="form-group">
                <label for="price">Price</label>
                <input id="price" placeholder="Price" type="text" min="0" class="form-control" :value="formatCurrency(form.product ? form.product.price : 0)" readonly>
              </div>
            </div>

            <div class="col-lg-2 col-md-3">
              <div class="form-group">
                <label for="qty">Qty</label>
                <input id="qty" placeholder="Qty" type="number" min="1" class="form-control" v-model="form.qty">
              </div>
            </div>

            <div class="col-lg-2 col-md-4">
              <div class="form-group">
                <label for="total">Total</label>
                <input id="total" placeholder="Total" type="text" min="0" readonly class="form-control"
                       :value="formatCurrency(form.product && form.qty ? form.product.price * form.qty : 0)">
              </div>
            </div>

            <div class="col-1">
              <a href="" class="btn btn-outline-danger mb-3" @click.prevent="$emit('removeProduct', i)">-</a>
            </div>

          </div>

          <hr class="mb-4">

        </div>


        <div class="row">
          <div class="col-md-4 col-lg-3">
            <b-input-group>
              <input id="add-product" placeholder="Number Rows" type="number" min="1" class="form-control" v-model="addition">
              <b-input-group-append>
                <b-button @click.prevent="addProduct" variant="outline-primary">+ Add Product</b-button>
              </b-input-group-append>
            </b-input-group>
          </div>
        </div>



      </div>
    </div>
  </b-container>
</template>

<script>
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import currency from "currency.js";

export default {
  name: "DetailBox",
  props: ['forms'],
  components:{
    vSelect
  },
  data: () => ({
    addition: 1,
    products: [],
    user: {},
    token: false,
  }),
  methods: {
    addProduct() {
      this.$emit('addProduct', this.addition);
      this.addition = 1;
    },
    getProducts() {
      this.$axios.get('/v1/product', {
        headers: {
          'Authorization': `Bearer ${ this.token }`,
        }
      }).then(response => {
        if(process.client) {
          this.products = response.data.data.product;
        }
      }).catch(error => {
        if (error.request.status === 500) {
          this.$bvToast.toast('Server Error', {
            title: 'There are something error',
            variant: 'danger',
            solid: true,
            toaster: 'b-toaster-top-right'
          })
        } else {
          if (error.request.response) {
            let response = JSON.parse(error.request.response);
            this.error = Object.values(response.errors).join(' ');
          }
        }
      });
    },
    formatCurrency(num) {
      return currency(num, { separator: '.', symbol: 'Rp ', precision: 0 }).format();
    },
  },
  created() {
    if(process.client) {
      if (localStorage.getItem('user') && localStorage.getItem('token')) {
        this.user = JSON.parse(localStorage.getItem('user'));
        this.token = localStorage.getItem('token');
      } else {
        this.$router.push('/login');
      }
    }

    this.getProducts();
  },
}
</script>

<style scoped>

</style>
