<template>
  <footer class="footer">
    Copyright &copy; 2022, <a href="mailto:airmaula@gmail.com">Ahmad Irfan Maulana</a>
  </footer>
</template>

<script>
export default {
  name: "Foot"
}
</script>

<style scoped>
.footer {
  padding: 2rem;
  text-align: center;
}
</style>
