<template>
  <div class="mb-5">
    <b-navbar toggleable="lg" type="dark" variant="primary" fixed="top">
      <b-container fluid="sm">
        <b-navbar-brand href="#" @click="toHomepage">Halodoc Test App</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto" v-if="user && token">
            <b-nav-item href="#">{{ user.username }}</b-nav-item>
            <b-nav-item href="#" @click.prevent="logout">Logout</b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto" v-else>
            <b-nav-item href="#" @click.prevent="$router.push('/register')">Register</b-nav-item>
            <b-nav-item href="#" @click.prevent="$router.push('/login')">Login</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  data: () => ({user: {}, token: null}),
  methods: {
    toHomepage() {
      this.$router.push('/');
    },
    logout() {
      this.$axios.post('/v1/logout', {}, {
        headers: {
          'Authorization': `Bearer ${ this.token }`,
        }
      }).then(() => {
        let user = this.user.username;
        setTimeout(() => {
          this.$bvToast.toast('See you ' + user + ' :)', {
            title: 'Logout successful',
            variant: 'success',
            solid: true,
            toaster: 'b-toaster-top-right'
          })
        }, 200);
        if(process.client) {
          localStorage.removeItem('token');
          localStorage.removeItem('user');
        }
        this.$router.push('/login');
      }).catch(error => {
        if (error.request.status === 500) {
          this.$bvToast.toast('Server Error', {
            title: 'There are something error',
            variant: 'danger',
            solid: true,
            toaster: 'b-toaster-top-right'
          })
        } else {
          if (error.request.response) {
            let response = JSON.parse(error.request.response);
            this.error = Object.values(response.errors).join(' ');
          }
        }
      });
    }
  },
  beforeMount() {
    if(process.client) {
      if (localStorage.getItem('user') && localStorage.getItem('token')) {
        this.user = JSON.parse(localStorage.getItem('user'));
        this.token = localStorage.getItem('token');
      }
    }
  }
}
</script>

<style scoped>
</style>
