<template>
  <div>
    <b-container fluid="sm">

      <b-table responsive="md" striped hover :busy="!loaded" :items="items" :fields="fields" :per-page="perPage" :current-page="currentPage" id="table-order" caption-top>

        <template #table-caption>
          <div class="d-flex justify-content-between align-items-end mb-2">
            Table Order <b-button variant="primary" squared :disabled="!orderSelected.id" @click.prevent="loadOrder">Load</b-button>
          </div>
        </template>

        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>

        <template #cell(date)="data">
          {{formatDate(data.item.date)}}
        </template>

        <template #cell(total)="data">
          {{formatCurrency(data.item.total_header)}}
        </template>

        <template #cell(action)="data">
          <b-button :variant="orderSelected.id === data.item.id ? 'secondary' : 'outline-secondary'" squared size="sm" @click="selectOrder(data.item)">
            {{ orderSelected.id === data.item.id ? 'Selected' : 'Select' }}
          </b-button>
        </template>

      </b-table>

      <div v-if="loaded">
        <div v-if="items.length > 0">
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="table-user"
            align="right"
            first-text="First"
            prev-text="Prev"
            next-text="Next"
            last-text="Last"
          ></b-pagination>
        </div>
        <div v-else>
          <p class="text-muted text-center">No order data</p>
        </div>
      </div>

    </b-container>
  </div>
</template>

<script type="ts">
import moment from "moment";
import currency from 'currency.js';

export default {
  name: "OrderTable",
  props: ['items', 'loaded'],
  data: () => ({
    title: '',
    body: '',
    isBusy: false,
    perPage: 10,
    currentPage: 1,
    fields: [
      {
        key: 'customer_name',
        label: 'Customer Name',
        sortable: true,
      },
      {
        key: 'date',
        label: 'Transaction Date',
        sortable: true,
      },
      {
        key: 'total',
        label: 'Total',
        sortable: true,
      },
      {
        key: 'action',
        thClass: 'text-center',
        tdClass: 'text-center',
      }
    ],
    orderSelected: {}
  }),
  computed: {
    rows() {
      return this.items.length
    }
  },
  methods: {
    selectOrder(item) {
      if (this.orderSelected && this.orderSelected.id === item.id) {
        this.orderSelected = {};
      } else {
        this.orderSelected = item;
      }
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
    formatCurrency(num) {
      return currency(num, { separator: '.', symbol: 'Rp ', precision: 0 }).format();
    },
    loadOrder() {
      this.$emit('loadOrder', this.orderSelected);
    }
  },
  created() {
  }
}
</script>

<style scoped>
</style>
