<template>
  <div>
    <b-container fluid="sm">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="mb-4">Group Header</h4>

          <div class="row mb-3">

            <div class="col-md-12 col-lg-4">
              <div class="form-group">
                <label for="customer_name">Customer Name</label>
                <input id="customer_name" placeholder="Customer Name" type="text" class="form-control" v-model="form.customer_name">
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label for="date">Order Date</label>
                <input id="date" placeholder="Order Date" type="date" class="form-control" v-model="form.date" readonly>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label for="customer_name">Total Header</label>
                <input id="customer_name" placeholder="Customer Name" type="text" class="form-control" :value="formatCurrency(totalHeader)" readonly>
              </div>
            </div>

          </div>

          <button class="btn btn-primary mr-2" @click.prevent="saveOrder">Save</button>
          <button class="btn btn-secondary" @click.prevent="openHistory">History</button>

        </div>
      </div>
    </b-container>

    <b-modal id="modal-order-list" title="Order List" size="xl" hide-footer>

      <order-table :loaded="tableLoaded" :items="orders" @loadOrder="loadOrder"></order-table>

    </b-modal>

  </div>
</template>

<script>
import currency from "currency.js";

export default {
  name: "OrderBox",
  props: ['form', 'totalHeader'],
  data: () => ({
    tableLoaded: false,
    orders: [],
  }),
  methods: {
    saveOrder() {
      this.$emit('saveOrder');
    },
    getOrders() {
      this.tableLoaded = false;
      this.$axios.get('/v1/order', {
        headers: {
          'Authorization': `Bearer ${ this.token }`,
        }
      }).then(response => {
        if(process.client) {
          this.tableLoaded = true;
          this.orders = response.data.data.order;
        }
      }).catch(error => {
        if (error.request.status === 500) {
          this.$bvToast.toast('Server Error', {
            title: 'There are something error',
            variant: 'danger',
            solid: true,
            toaster: 'b-toaster-top-right'
          })
        } else {
          if (error.request.response) {
            let response = JSON.parse(error.request.response);
            this.error = Object.values(response.errors).join(' ');
          }
        }
      });
    },
    openHistory() {
      this.getOrders();
      this.$bvModal.show('modal-order-list')
    },
    loadOrder(order) {
      this.$bvModal.hide('modal-order-list')
      this.$emit('loadOrder', order);
    },
    formatCurrency(num) {
      return currency(num, { separator: '.', symbol: 'Rp ', precision: 0 }).format();
    },
  },
  beforeMount() {
    if(process.client) {
      if (localStorage.getItem('user') && localStorage.getItem('token')) {
        this.user = JSON.parse(localStorage.getItem('user'));
        this.token = localStorage.getItem('token');
      } else {
        this.$router.push('/login');
      }
    }
  }
}
</script>

<style scoped>

</style>
