<template>
<div>
  <b-container fluid="sm">
    <div class="row d-flex justify-content-center" style="margin-top: 6rem;">
      <div class="col-md-6 col-12">

        <b-alert variant="danger" v-if="error" show><h5>Register failed.</h5> {{ error }}</b-alert>

        <b-card
          title="Register"
        >
          <b-card-text>
            <form ref="form" @submit.prevent="register">

              <b-form-group
                label="Username"
                label-for="username"
              >
                <b-form-input
                  id="username"
                  v-model="credentials.username"
                  placeholder="Username"
                  required
                ></b-form-input>
              </b-form-group>

              <b-form-group
                label="Password"
                label-for="password"
              >
                <b-form-input
                  id="password"
                  type="password"
                  v-model="credentials.password"
                  placeholder="Password"
                  required
                ></b-form-input>
              </b-form-group>

              <b-form-group
                label="Password Confirmation"
                label-for="password-confirmation"
              >
                <b-form-input
                  id="password-confirmation"
                  type="password"
                  v-model="credentials.password_confirmation"
                  placeholder="Password Confirmation"
                  required
                ></b-form-input>
              </b-form-group>

              <b-button variant="primary" type="submit" class="mt-2">Register</b-button>

            </form>
          </b-card-text>

        </b-card>

        <b-card class="mt-3">
          <b-card-text>
            <p class="text-muted mb-0">Have an account? <a href="" @click.prevent="$router.push('/login')">Login</a></p>
          </b-card-text>
        </b-card>

      </div>
    </div>
  </b-container>
</div>
</template>

<script>
export default {
  name: "RegisterBox",
  props: ['credentials', 'error'],
  methods: {
    register() {
      this.$emit('register');
    }
  }
}
</script>

<style scoped>

</style>
