<template>
  <div>

    <!-- S: Navbar -->
    <navbar />
    <!-- E: Navbar -->

    <!-- S: Wrap Content -->
    <div class="wrap-content">

      <!-- S: Hero -->
      <hero title="Order" />
      <!-- E: Hero -->

      <!-- S: Alert -->
      <div class="container"><b-alert variant="danger" v-if="error" class="mb-4" show><h5>Order failed to save.</h5> {{ error }}</b-alert></div>
      <!-- E: Alert -->

      <!-- S: Order Box -->
      <order-box :form="orderForm" :totalHeader="totalHeader" @saveOrder="saveOrder" @loadOrder="loadOrder"></order-box>
      <!-- E: Order Box -->

      <!-- S: Detail Box -->
      <detail-box :forms="detailForms" @addProduct="addProduct" @removeProduct="removeProduct"></detail-box>
      <!-- E: Detail Box -->

    </div>
    <!-- E: Wrap Content -->

    <!-- S: Footer -->
    <foot />
    <!-- E: Footer -->

  </div>
</template>

<script>
import moment from 'moment';

export default {
  name: 'Order',
  data: () => ({
    user: {},
    token: null,
    orderForm: {
      date: moment().format('YYYY-MM-DD'),
    },
    detailForms: [],
    error: false,
  }),
  computed: {
    totalHeader() {
      if (this.detailForms.length === 0) return 0;
      return this.detailForms.map(detail => detail.product ? detail.product.price * detail.qty : 0).reduce((total, i) => total += i);
    }
  },
  methods: {
    resetForm() {
      this.orderForm = {
        date: moment().format('YYYY-MM-DD'),
      };
      this.detailForms = [];
    },
    addProduct(items) {
      for (let i = 0; i < items; i++) {
        this.detailForms.push({product: null, qty: 1});
      }
    },
    removeProduct(i) {
      this.detailForms.splice(i, 1);
    },
    saveOrder() {
      let payload = this.orderForm;
      payload.order_details = this.detailForms.map(detail => {
        return {
          product_id: detail.product ? detail.product.id : null,
          qty: detail.qty,
          total: detail.product ? detail.product.price * detail.qty : 0,
        }
      });

      let request;
      if (this.orderForm.id) {
        request = this.$axios.put('/v1/order/' + this.orderForm.id, payload, {
          headers: {
            'Authorization': `Bearer ${ this.token }`,
          }
        })
      } else {
        request = this.$axios.post('/v1/order', payload, {
          headers: {
            'Authorization': `Bearer ${ this.token }`,
          }
        })
      }

      request.then(response => {
        if(process.client) {
          this.$bvToast.toast(response.data.message, {
            title: 'Successful',
            variant: 'success',
            solid: true,
            toaster: 'b-toaster-top-right'
          })

          this.error = false;
          this.resetForm();
        }
      }).catch(error => {
        if (error.request.status === 500) {
          this.$bvToast.toast('Server Error', {
            title: 'There are something error',
            variant: 'danger',
            solid: true,
            toaster: 'b-toaster-top-right'
          })
        } else {
          if (error.request.response) {
            let response = JSON.parse(error.request.response);
            this.error = Object.values(response.errors).join(' ');
          }
        }
      });

    },
    loadOrder(order) {
      this.orderForm = order;
      this.detailForms = order.order_details;
    }
  },
  beforeMount() {
    if(process.client) {
      if (localStorage.getItem('user') && localStorage.getItem('token')) {
        this.user = JSON.parse(localStorage.getItem('user'));
        this.token = localStorage.getItem('token');
      } else {
        this.$router.push('/login');
      }
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
* {
  font-family: 'Rubik', sans-serif;
}
.wrap-content {
  min-height: 100vh;
}
</style>
