<template>
  <div>

    <!-- S: Navbar -->
    <navbar />
    <!-- E: Navbar -->

    <!-- S: Wrap Content -->
    <div class="wrap-content">

      <!-- S: Login Box -->
      <login-box :credentials="form" :error="error" @login="login"></login-box>
      <!-- E: Login Box -->

    </div>
    <!-- E: Wrap Content -->

    <!-- S: Footer -->
    <foot />
    <!-- E: Footer -->

  </div>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  name: 'Login',
  data: () => ({
    form: {},
    error: false,
  }),
  methods: {
    login() {
      this.error = false;
      let payload = this.form;
      this.$axios.post('/v1/login', payload).then(response => {
        if(process.client) {
          localStorage.setItem('token', response.data.data.token);
          localStorage.setItem('user', JSON.stringify(response.data.data.user));
        }
        setTimeout(() => {
          this.$bvToast.toast('Welcome ' + response.data.data.user.username + '.', {
            title: 'Login Success',
            variant: 'success',
            solid: true,
            toaster: 'b-toaster-top-right'
          })
        }, 200);
        this.$router.push('/');
      }).catch(error => {
        if (error.request.status === 500) {
          this.$bvToast.toast('Server Error', {
            title: 'There are something error',
            variant: 'danger',
            solid: true,
            toaster: 'b-toaster-top-right'
          })
        } else {
          if (error.request.response) {
            let response = JSON.parse(error.request.response);
            this.error = Object.values(response.errors).join(' ');
          }
        }
      });
    }
  }
})
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
* {
  font-family: 'Rubik', sans-serif;
}
.wrap-content {
  min-height: 100vh;
}
</style>
